<form action="/pirates" method="post">
  
  <h2>Pirate</h2>
  <label for="pirate_name">Name: </label><br>
  <input id="pirate_name" type="text" name="pirate[name]">
  <label for="pirate_height">Height: </label><br>
  <input id="pirate_height" type="text" name="pirate[height]">
  <label for="pirate_weight">Weight: </label><br>
  <input id="pirate_weight" type="text" name="pirate[weight]">
  
  <h2>Ships</h2>
  <label for="ship_name1">Name: </label><br>
  <input id="ship_name1" type="text" name="pirate[ships][][name]">
  <label for="ship_name">Name: </label><br>
  <input id="ship_name" type="text" name="pirate[ships][][name]">
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <p>Ship Name: <input type="text" name="pirate[ships][][name]"></p>
  <p>Ship Type: <input type="text" name="pirate[ships][][type]"></p>
  <p>Ship Booty: <input type="text" name="pirate[ships][][booty]"></p>
  <input type="submit">
</form>
